@{
    ViewBag.Title = "Joel Hilton's Podcasts";
    ViewBag.Head = "Joel Hilton's Podcasts";
}

<body>
    <p>This is my weekly podcast where I discuss movies with some friends</p>
    <a href="https://baconsale.com/">Click Here to Visit the Site!</a>
</body>
